@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 90px auto;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 70px auto;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 50px auto;
  }
}

body {
  background-color: beige;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; /* if you want the light version */
}

h {
  font-family: 'Poppins';
  font-weight: 100;
}

h1 {
  color: blueviolet;
}

h2 {
  color: green;
  line-height: 10px;
  font-size: x-large;
}

a {
  color: rgb(131, 108, 79);
  text-decoration: none;
}

a:hover {
  color: rgb(95, 78, 57);
}

.img-circle {
  border-radius: 50%;
}

.img-resize {
  height: 25%;
  width: 25%;
}

.card-white {
  background: white;
  padding: 50px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  margin: 30px;
}


.btn-blue {
  background-color: rgba(0, 0, 255, 0.815);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 15px;
}

.list-inline i {
  font-size: 40px;
  color: aqua;
}

.list-inline i:hover {
  color: black;
}
